.main__history-article {
  margin: 0 10vw;
}
.main__history-article p {
  margin: 1vw;
  text-align: justify;
  text-indent: 3vw;
  font-size: 1.5vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.main__history-article figure {
  margin: 0 0 1.5vw 1.5vw;
  float: right;
  text-align: center;
}
.main__history-article figure img {
  width: 25vw;
}
.main__history-article figure figcaption {
  width: 23vw;
  padding: 0.3vw 1vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.4vw;
  color: #444444;
}

footer {
  clear: both;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main article.main__history-article {
    margin: 0 4vw;
  }
  main article.main__history-article p {
    margin: 2vw;
    text-indent: 4vw;
    font-size: 3vw;
  }
  main article.main__history-article figure {
    float: none;
    margin: 2vw 0;
  }
  main article.main__history-article figure img {
    width: 90%;
  }
  main article.main__history-article figure figcaption {
    width: auto;
    padding: 1vw;
    font-size: 3.5vw;
  }
}
@media (max-width: 767px) {
  main article.main__history-article {
    margin: 0 4vw;
  }
  main article.main__history-article p {
    margin: 2vw;
    text-indent: 6vw;
    font-size: 5.5vw;
  }
  main article.main__history-article figure {
    float: none;
    margin: 7vw -4vw;
  }
  main article.main__history-article figure img {
    width: 100vw;
  }
  main article.main__history-article figure figcaption {
    width: 98vw;
    padding: 1vw;
    font-size: 6vw;
  }
}