.navbar {
    background-color: #444;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: red;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }