form.feedback-form {
    display: grid;
    grid-template-columns: 6vw auto;
    align-items: center;

    label {
        margin: 0.5vw;
        font-size: 1.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        &::after {
            content: '*';
            font-weight: bold;
            color: red;
        }
    }

    %input-area {
        margin: 0.5vw 0;
        padding: 0.5vw;
        width: auto;
        font-size: 1.3vw;
    }

    input {
        &[type='text'],
        &[type='email'] {
            grid-column-start: 2;
            grid-column-end: 3;
            @extend %input-area;
        }

        &[type='submit'] {
            grid-column-start: 1;
            grid-column-end: 3;

            width: fit-content;
            padding: 0.5vw 2vw;
        }
    }

    .feedback-form__textarea-label {
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 1vw;
    }

    textarea {
        @extend %input-area;
        resize: none;

        grid-column-start: 1;
        grid-column-end: 3;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    form.feedback-form {
        grid-template-columns: 15vw auto;

        label {
            margin: 1vw;
            font-size: 3.5vw;
            
        }

        %input-area {
            margin: 1.5vw 0;
            padding: 2vw;
            font-size: 3vw;
        }

        input[type='submit'] {
            padding: 1.5vw 6vw;
        }

        .feedback-form__textarea-label {
            margin-top: 2vw;
        }
    }
}

@media (max-width: 767px) {
    form.feedback-form {
        grid-template-columns: 25vw auto;

        label {
            margin: 1vw;
            font-size: 6vw;
        }

        %input-area {
            margin: 1.5vw 0;
            padding: 2vw;
            font-size: 5vw;
        }

        input[type='submit'] {
            padding: 2vw 7vw;
        }

        .feedback-form__textarea-label {
            margin-top: 3vw;
        }
    }
}