.main__troupe-article__div {
    margin: 0 10vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;

    figure {
        margin: 2vw;
        width: 14vw;
        background-color: darkred;
        border: 0.5vw outset darkred;

        img {
            display: block;
            height: 20vw;
            width: 14vw;
            object-fit: cover;
        }

        figcaption {
            padding: 0.5vw;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.5vw;
            font-weight: bold;
            color: white;
        }
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .main__troupe-article__div {
        margin: 4vw;

        figure {
            margin: 3vw;
            width: 35vw;
            border-width: 1.5vw;

            img {
                height: 50vw;
                width: 35vw;
            }

            figcaption {
                padding: 2vw 1vw;
                font-size: 4vw;
            }
        }
    }
}

@media (max-width: 767px) {
    .main__troupe-article__div {
        margin: 7vw 4vw;

        figure {
            margin: 3vw;
            width: 63vw;
            border-width: 2.5vw;

            img {
                height: 90vw;
                width: 63vw;
            }

            figcaption {
                padding: 3vw 1vw;
                font-size: 7vw;
            }
        }
    }
}